@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

.about {
  margin-bottom: 44px;
}
