.wrap {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 1199px) {
  .wrap {
    padding: 0 16px;
  }
}

.about {
  margin-bottom: 44px;
}

.text {
  color: rgb(116, 168, 63);
}

.text-net {
  color: rgb(80, 82, 78);
}

.text-cv {
  cursor: pointer;
  padding: 10px;
  width: 11em;
  border-bottom: 4px solid red;
  width: 12em;
}

.menu {
  margin-top: 10px;
}

.title {
  width: 21em;
  border-bottom: 4px solid black;
}

.description {
  line-height: 2.2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.container-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-item > h4 {
  margin-bottom: 0;
}